obj/
bin/
*.o
.DS_Store
*.dSYM
*.log
*.mk
*.dep
build/
Testing/
.vscode/
.cache/
CMakeFiles/
CMakeCache.txt
.idea/
release/
debug/
debug-coverage/
.vs/
.project
.cproject
.mxproject
*.launch
.settings/
Debug/
Release/
Middlewares/
Drivers/
